<section
  class="py-20 transition-all duration-1000 delay-200 opacity-100 bg-[#0d0d0d] translate-y-0"
>
  <div class="container mx-auto px-4">
    <div class="max-w-7xl mx-auto text-center">
      <p class="text-2xl text-white leading-relaxed mb-12">{{ section.settings.top_text }}</p>
      <div class="bg-muted/10 p-8 rounded-xl mb-12">
        <h2 class="text-3xl font-bold text-[#afa38e] mb-6">{{ section.settings.video_title }}</h2>
        <div class="mb-6">
          <div
            class="relative w-full h-0 pb-[56.25%] rounded-xl overflow-hidden"
          >
            <iframe
              src="{{ section.settings.video_url }}"
              allowfullscreen=""
              allow="fullscreen"
              class="absolute top-0 left-0 w-full h-full"
            ></iframe>
          </div>
        </div>
        <p class="text-[#7b0f23] leading-relaxed text-3xl">{{ section.settings.bottom_text }}</p>
      </div>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Video Card",
  "tag": "section",
  "settings": [
    {
      "type": "text",
      "id": "top_text",
      "label": "Top Text",
      "default": "The eFit 3D Scanner represents a breakthrough in non-contact ear scanning technology, delivering the precision and safety that traditional methods simply cannot match. As the world's only FDA-cleared, non-contact 3D ear scanner, the eFit system transforms how custom hearing protection is created while establishing the foundation for advanced biometric capabilities."
    },
    {
      "type": "text",
      "id": "video_title",
      "label": "Video Title",
      "default": "Zero Contact. Zero Risk. Maximum Precision."
    },
    {
      "type": "text",
      "id": "video_url",
      "label": "Video Url",
      "default": "https://www.canva.com/design/DAGtO6bmHNg/1fMTN4pC8ZG6c2waB1oo8w/watch?embed"
    },
    {
      "type": "text",
      "id": "bottom_text",
      "label": "Bottom Text",
      "default": "Revolutionary Non-Contact Technology"
    }
  ],

  "blocks": [],
  "presets": [
    {
      "name": "Video Card",
      "category": "3D Scanner cards"
    }
  ]
}
{% endschema %}
