<section
  class="py-20 transition-all scroll-trigger animate--slide-in duration-1000 delay-200"
  {% comment %}
    style="
                background: #000000;
      background: linear-gradient(180deg, rgba(0, 0, 0, 0.77) 3%, rgba(0, 0, 0, 0.57) 53%, rgba(0, 0, 0, 0.79) 98%);
    "
  {% endcomment %}
  style="
          background: rgba(0, 0, 0, 7.24);
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.72) 2%, rgba(0, 0, 0, 0.57) 53%, rgba(0, 0, 0, 0.74) 98%);
  "
>
  <div class="max-w-[1100px] mx-auto px-4">
    <div class="app-about-1-grid items-center">
      <div class="rounded-[8px] bg-black overflow-hidden">
        {% if section.settings.image != blank %}
          <img
            src="{{section.settings.image | image_url}}"
            alt="Founder in tactical setting"
            class="w-full h-[500px] object-cover"
            height="500"
            width="100%"
          >
        {% endif %}
      </div>
      <div>
        <p class="text-7xl font-black text-[#695e49] mb-8 uppercase">{{ section.settings.card_title }}</p>
        <div class="space-y-6 text-3xl text-white leading-relaxed">
          <p>{{ section.settings.text1 }}</p>
          <p>{{ section.settings.text2 }}</p>
        </div>
      </div>
    </div>
  </div>
</section>

<style>
  .app-about-1-grid {
    display: grid;
    gap: 48px;
    grid-template-columns: repeat(1, 1fr);
  }

  @media (min-width: 640px) {
    .app-about-1-grid {
      grid-template-columns: repeat(2, 1fr);
    }
  }
</style>

{% schema %}
{
  "name": "Aware in Field",
  "tag": "section",
  "settings": [
    {
      "type": "text",
      "id": "card_title",
      "label": "Title",
      "default": "AWARE BEGAN IN THE FIELD"
    },
    {
      "type": "text",
      "id": "text1",
      "label": "Text 1",
      "default": "Aware Defense was founded by a team of U.S. military veterans, engineers, and field medics who knew the pain points firsthand."
    },
    {
      "type": "text",
      "id": "text2",
      "label": "Text 2",
      "default": "What started as a mission to make better ear protection has grown into a platform for protection, performance, and passive sensing."
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    }
  ],

  "blocks": [],
  "presets": [
    {
      "name": "Aware in Field",
      "category": "About Us"
    }
  ]
}
{% endschema %}
