<section
  class="py-32 scroll-trigger animate--slide-in transition-all duration-1000 delay-300 opacity-100 translate-y-0"
  style="
          background: rgba(0, 0, 0, 7.24);
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.76) 2%, rgba(0, 0, 0, 0.73) 53%, rgba(0, 0, 0, 0.79) 98%);
  "
>
  <div class="mx-auto px-4">
    <div class="max-w-[1100px] mx-auto">
      <div class="app-bio-2-grid items-center">
        <div
          class="transition-all duration-700 delay-500 opacity-100 translate-x-0"
        >
          <div
            class="w-full h-96 bg-[#0d0d0d]/50 rounded-xl flex items-center justify-center border border-[#afa38e]/30"
          >
            {% if section.settings.image %}
              <img
                src="{{ section.settings.image | image_url }}"
                alt="Biometric Ear Device"
                class="w-full h-full object-contain p-8"
                width="550"
                height="382"
              >
            {% endif %}
          </div>
        </div>
        <div
          class="transition-all duration-700 delay-700 opacity-100 translate-x-0"
        >
          <h2 class="text-3xl font-black text-white mb-8 uppercase">{{ section.settings.card_title }}</h2>
          <div class="space-y-6">
            {% for block in section.blocks %}
              <div class="flex items-start space-x-4">
                <div
                  class="size-4 bg-[#7b0f23] rounded-full mt-3 flex-shrink-0"
                >
                  <p></p>
                </div>
                <p class="text-white leading-relaxed">
                  <span class="font-semibold text-[#afa38e]">{{ block.settings.text1 }}</span>
                  — {{ block.settings.text2 }}
                </p>
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<style>
  .app-bio-2-grid {
    display: grid;
    gap: 48px;
    grid-template-columns: repeat(1, 1fr);
  }

  @media (min-width: 640px) {
    .app-bio-2-grid {
      grid-template-columns: repeat(2, 1fr);
    }
  }
</style>

{% schema %}
{
  "name": "Why the ear and wrist",
  "tag": "section",
  "settings": [
    {
      "type": "text",
      "id": "card_title",
      "label": "Title",
      "default": "WHY THE EAR BEATS THE WRIST"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Side Image"
    }
  ],

  "blocks": [
    {
      "type": "option",
      "name": "Option",
      "settings": [
        {
          "type": "text",
          "id": "text1",
          "label": "Text 1",
          "default": "Text 1"
        },
        {
          "type": "text",
          "id": "text2",
          "label": "Text 2",
          "default": "Text 2"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Why the ear and wrist",
      "category": "Biometrics"
    }
  ]
}
{% endschema %}
