<section
  class="py-32"
  style="
          background: rgba(0, 0, 0, 7.24);
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.76) 2%, rgba(0, 0, 0, 0.73) 53%, rgba(0, 0, 0, 0.79) 98%);
  "
>
  <div class="mx-auto px-4">
    <div class="max-w-[1100px] mx-auto  transition-all scroll-trigger animate--slide-in duration-1000 delay-200">
      <p
        class="text-6xl font-black text-white text-center mb-12 uppercase"
      >
        {{ section.settings.card_title }}
      </p>
      <div class="app-bio-4-grid">
        <div
          class="bg-[#afa38e]/20 border border-[#afa38e]/30 rounded-[8px] p-6 text-center transition-all duration-500 delay-600 translate-y-4"
        >
          <div
            class="size-20 bg-[#7b0f23] rounded-[8px] mx-auto mb-4 flex items-center justify-center"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="lucide lucide-brain size-10 text-white"
            >
              <path
                d="M12 5a3 3 0 1 0-5.997.125 4 4 0 0 0-2.526 5.77 4 4 0 0 0 .556 6.588A4 4 0 1 0 12 18Z"
              ></path>
              <path
                d="M12 5a3 3 0 1 1 5.997.125 4 4 0 0 1 2.526 5.77 4 4 0 0 1-.556 6.588A4 4 0 1 1 12 18Z"
              ></path>
              <path
                d="M15 13a4.5 4.5 0 0 1-3-4 4.5 4.5 0 0 1-3 4"
              ></path>
              <path d="M17.599 6.5a3 3 0 0 0 .399-1.375"></path>
              <path d="M6.003 5.125A3 3 0 0 0 6.401 6.5"></path>
              <path d="M3.477 10.896a4 4 0 0 1 .585-.396"></path>
              <path d="M19.938 10.5a4 4 0 0 1 .585.396"></path>
              <path d="M6 18a4 4 0 0 1-1.967-.516"></path>
              <path d="M19.967 17.484A4 4 0 0 1 18 18"></path>
            </svg>
          </div>
          <p class="text-[#afa38e] font-black text-[14px] uppercase">{{ section.settings.text1 }}</p>
        </div>
        <div
          class="bg-[#afa38e]/20 border border-[#afa38e]/30 rounded-[8px] p-6 text-center transition-all duration-500 delay-700 translate-y-4"
        >
          <div
            class="size-20 bg-[#7b0f23] rounded-[8px] mx-auto mb-4 flex items-center justify-center"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="lucide lucide-target size-10 text-white"
            >
              <circle cx="12" cy="12" r="10"></circle>
              <circle cx="12" cy="12" r="6"></circle>
              <circle cx="12" cy="12" r="2"></circle>
            </svg>
          </div>
          <p class="text-[#afa38e] font-black text-[14px] uppercase">{{ section.settings.text2 }}</p>
        </div>
        <div
          class="bg-[#afa38e]/20 border border-[#afa38e]/30 rounded-[8px] p-6 text-center transition-all duration-500 delay-800 translate-y-4"
        >
          <div
            class="size-20 bg-[#7b0f23] rounded-[8px] mx-auto mb-4 flex items-center justify-center"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="lucide lucide-zap size-10 text-white"
            >
              <path
                d="M4 14a1 1 0 0 1-.78-1.63l9.9-10.2a.5.5 0 0 1 .86.46l-1.92 6.02A1 1 0 0 0 13 10h7a1 1 0 0 1 .78 1.63l-9.9 10.2a.5.5 0 0 1-.86-.46l1.92-6.02A1 1 0 0 0 11 14z"
              ></path>
            </svg>
          </div>
          <p class="text-[#afa38e] font-black text-[14px] uppercase">{{ section.settings.text3 }}</p>
        </div>
      </div>
    </div>
  </div>
</section>

<style>
  .app-bio-4-grid {
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(1, 1fr);
  }

  @media (min-width: 640px) {
    .app-bio-4-grid {
      grid-template-columns: repeat(3, 1fr);
    }
  }
</style>

{% schema %}
{
  "name": "Operation Ready",
  "tag": "section",
  "settings": [
    {
      "type": "text",
      "id": "card_title",
      "label": "Title",
      "default": "OPERATOR-READY"
    },
    {
      "type": "text",
      "id": "text1",
      "label": "Text 1",
      "default": "Cognitive performance monitoring"
    },
    {
      "type": "text",
      "id": "text2",
      "label": "Text 2",
      "default": "Warfighter readiness tracking"
    },
    {
      "type": "text",
      "id": "text3",
      "label": "Text 3",
      "default": "Real-time health analytics"
    }
  ],

  "blocks": [],
  "presets": [
    {
      "name": "Operation ready",
      "category": "Biometrics"
    }
  ]
}
{% endschema %}
