<section
  class="py-20 transition-all scroll-trigger animate--slide-in duration-1000 delay-600"
  style="
          background: rgba(0, 0, 0, 7.24);
    background: rgba(0, 0, 0, 0.78);
  "
  8
>
  <div class="container mx-auto px-4">
    <div class="max-w-4xl mx-auto text-center">
      <p class="text-6xl font-black text-white mb-8 uppercase">JOIN US</p>
      <p class="text-[18px] text-[#afa38e] leading-relaxed mb-10">Let's evolve together.</p>
      <div class="flex justify-center">
        <div class="text-center mt-12">
          <a
            href="{{ section.settings.button_url }}"
            class="inline-flex text-[17px] items-center justify-center gap-2 whitespace-nowrap rounded-md ring-offset-background transition-colors  bg-primary hover:bg-primary/90  text-lg px-8 py-3 font-semibold uppercase tracking-wide text-white"
            style="background-color: rgb(149, 24, 43)"
          >
            {{ section.settings.button_text }}
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="lucide lucide-arrow-right ml-2 size-7"
            >
              <path d="M5 12h14"></path>
              <path d="m12 5 7 7-7 7"></path>
            </svg>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Join Us",
  "tag": "section",
  "settings": [
    {
      "type": "text",
      "id": "card_title",
      "label": "Title",
      "default": "JOIN US"
    },
    {
      "type": "text",
      "id": "card_sub_title",
      "label": "Sub Title",
      "default": "Let's evolve together."
    },
    {
      "type": "text",
      "id": "button_text",
      "label": "Buttton Title",
      "default": "SCHEDULE A DEMO"
    },
    {
      "type": "url",
      "id": "button_url",
      "label": "Buttton Url"
    }
  ],

  "blocks": [],
  "presets": [
    {
      "name": "Join Us",
      "category": "Biometrics"
    }
  ]
}
{% endschema %}
